.about {
	padding: $pd-7 0;
	@include background("yellow_top_wave_01.png", contain, top left);

	.about__content {
		margin: ($m-7 + 6px) 0;

		h6 {
			@include styleText($fs-3, $fw-3, $color-violet-1);
			margin-bottom: $m-1 + 2px;
		}
		h1 {
			@include styleText($fs-4, $fw-4, $color-black-2);
		}
	}
}
@include responsive("extra-large") {
	.about {
		.about__content {
			h6 {
				font-size: $fs-8;
			}

			h1 {
				font-size: $fs-4 - 0.65rem;
			}
		}
	}
}
